<div class="frente">


  <div class="formulario">

    <label for="valor-pedido" class="label">Valor do Pedido</label>
    <input type="number" id="valor" class="label">
    <label for="tempo" class="label">Tempo de Entrega</label>
    <input type="number" id="tempo" class="label">

  </div>

  <div class="formulario2">


    <div class="teste">

      <p id="lb" class="valor">Valor do Pedido: R$0,00

      </p>

      <p id="minimo" class="minimo">Pedido mínimo: R$10,00

      </p>

      <p id="tp" class="tempo">Tempo médio de entrega:

      </p>

      <input type="button" onclick="fechar()" value="Fechar Pedido" class="botao">



    </div>








  </div>




</div>
